/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.main-company-div{
  height: 100vh;
  width: auto;
  text-align: center;
  /* background-image: url(./assests/dot.jpg); */
  background-repeat: no-repeat;
  
  
}

.company-list{
  
  
 
  
 
  box-shadow: 5px 5px 5px 5px gray;
  border-radius: 10px;
  width: 250px;
  height: 200px;
  margin: 0 auto;
  margin-top: 15px;
}

.ModalButton{
  position: fixed;
  overflow: hidden;
  cursor: pointer;
  
  width: 70px;
  height: 70px;
  bottom: 50px;
  right: 50px;
}
.login-form{
  background-image: url(./assests/wp2638362.jpg);
  background-position: center;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  
}
.login-form-child{
  
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  
}
.login-button{
  background-color: #3960c4;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: 1px solid white;
  border-radius: 10px;
}
.home{
  display: flex;
  justify-content: center;
  
  align-items: center;
  height: 80vh;
  width: auto;
}
.ModalButtonToken{
  position: fixed;
  overflow: hidden;
  cursor: pointer;
  bottom: 50px;
  right: 50px;
}
.soldTokenModal{
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
  height: 150px;
  padding-left: 10px;
  
  margin-top: 15px;

}
.user-div{
  width: 500px;
  display: flex;
}
.user-main-div{
  margin-left: 10px;
}
.app-div{
  margin-bottom: 10px;
  background-color: gray;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}
.app-div1{
 
  margin-top: 18px;
  margin-left: 10px;
  color: white;
}

.App {
  font-family: "Poppins";
}